.paragraph p{
    width: 80px;
    height: 10px;
    background-color: #ccc;
    margin-left: 700px;
    row-gap: 24px;
}
.image{
    width: 660px;
    height: 400px;
    background-color: #ccc;
   
}
.all h1{
  width: 10px;
  height: 50px;
  background-color: #ccc;
}